// rethink these - they could live someplace better, if at all

html { box-sizing: border-box; }
* { box-sizing: inherit; }

body {
  background: #e46a27 url('../img/background.png');
}

section{
  padding-top: 80px;
  padding-bottom: 80px;
}

a{
  text-decoration: none;
}

.full-width {
  width: 100%;
}

hgroup {
  @include centerer(true, true);
  @include respond-to('small') {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    transform: translate(0, 0);
  }
}

h1 {
  margin: 0;

    position: relative;
    background: blue;
opacity: .8;
  img {
    max-width: 75vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, 25%);
    &.blue {
      z-index: 30;
    }
    &.mix {
      margin-left: -1px;
      margin-top: -1px;
      z-index: 20;
    }
    &.base {
      margin-left: 1px;
      margin-top: 1px;
      z-index: 10;
    }
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 4em;
  font: 700 1.4em/2em "futura-pt", sans-serif;
  text-transform: uppercase;
  color: #4281a4;
  position: relative;
  opacity: .8;
  // position: absolute;
  // width: 100vw;
  // bottom: 5vh;
  text-shadow: -1px -1px 0 #5f4b3a, 1px 1px 0px #dac0ad;
  @include respond-to('small') {
    font: 700 2.4em/2em "futura-pt", sans-serif;
    text-shadow: -2px -2px 0 #5f4b3a, 2px 2px 0px #dac0ad;
  }
}
