<!doctype html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">

    <title>River Trail Supply Co.</title>
    <script src="//use.typekit.net/oht4sgp.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/assets/css/app.min.css">
  </head>
  <body>
    <header>
      <hgroup>
        <h1>
          <img src="/assets/img/river-trail-logo-blue.png" class="blue">
          <img src="/assets/img/river-trail-logo-mix.png" class="mix">
          <img src="/assets/img/river-trail-logo-base.png" class="base">
        </h1>
        <h2>Coming Soon</h2>
      </hgroup>
    </header>
    <main>
